html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Futura", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.xPosition {
	right: 1.5em;
	top: 1.5em;
	position: fixed;
	z-index: 9999;
}
.xPosition.nonFixed {
  position: absolute;
}
.cursorPointer {
	cursor: pointer;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.fade-in-enter-done {
  opacity: 1;
}
.fade-in-exit {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
.placeholderGradient {
  width: 100%;
  height: 100%;
  background: rgba(124,124,133,1);
  background: -moz-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(124,124,133,1)), color-stop(100%, rgba(170,170,184,0)));
  background: -webkit-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: -o-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: -ms-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: linear-gradient(to bottom, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c85', endColorstr='#aaaab8', GradientType=0 );
}

/* LEAFLET OVERRIDES */
.leaflet-container {
  display: block !important;
}
.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { 
  will-change:auto !important; 
}
.leaflet-bottom {
  z-index: 500 !important;
}
.contentContainer {
  margin: 4em auto;
}
.contentContainer > h1  {
  text-align: center;
  font-size: 2.5em;
}

/* FOOTER */
footer > .contentWidth {
  border-top: 2px white double;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em auto 1em;
  width: 95%;
  padding: 1em;
}

.footerLinkSpread {
  margin-top: 1em; 
  display: flex;
  justify-content: space-between;
  width: inherit;
  text-decoration: underline;
}

.copyright {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
	.xPosition {
		right: 1em;
		top: 1em;
		position: absolute;
	}
  .contentContainer {
    width: 60em;
    margin: 6em auto 0em;
  }
  .contentContainer > h1 {
    font-size: 2.5em;
    text-align: center;
  }
  footer > .contentWidth {
    border-top: 2px white double;
    font-size: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 65%;
  }

  .footerLinkSpread {
    margin-top: unset; 
  }
}

@media (min-width: 1000px) {
  .footerLinkSpread {
    width: 50%;
  }
}