html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Futura", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-color: white black;
}

main {
  background-color: black;
  position: relative;
  overflow: hidden;
}
.Toastify {
  position: absolute;
  z-index: 99999;
}
.xPosition {
	right: 1.5em;
	top: 1.5em;
	position: fixed;
	z-index: 9999;  
  font-weight: bolder;
  font-size: 2em;
}
.xPosition.mobileClose{
  right: 1em;
  top: 1.65em;
}
.xPosition.nonFixed {
  position: absolute;
}
.xPosition.stickyFloat {
  position: sticky;
  float: right;
}
.xPosition.stickyFloat.mobileClose {
  top: 1em;
  right: 0;
}
.cursorPointer {
	cursor: pointer;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.unselectable {
    -moz-user-select: -moz-none;
    -html-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.invert {
  filter: invert();
}

.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.fade-in-enter-done {
  opacity: 1;
}
.fade-in-exit {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
.fade-in-delay-enter {
  opacity: 0;
}
.fade-in-delay-enter-active {
  opacity: 1;
  transition: opacity 400ms 400ms;
}
.fade-in-delay-enter-done {
  opacity: 1;
}
.fade-in-delay-exit {
  opacity: 1;
}
.fade-in-delay-exit-active {
  opacity: 0;
  transition: opacity 400ms 400ms;
}
.placeholderGradient {
  width: 100%;
  height: 100%;
  background: rgba(124,124,133,1);
  background: -moz-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(124,124,133,1)), color-stop(100%, rgba(170,170,184,0)));
  background: -webkit-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: -o-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: -ms-linear-gradient(top, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  background: linear-gradient(to bottom, rgba(124,124,133,1) 0%, rgba(170,170,184,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c85', endColorstr='#aaaab8', GradientType=0 );
}

.contentContainer {
  margin: 5.5em auto 2em;
}
.contentContainer.withPadding {
  padding: 0em 2em;
}
.contentContainer > h1  {
  text-align: center;
  font-size: 2.5em;
}

.tooltip {
  position: absolute;
  background-color: black;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 200ms;
  left: 5.5em;
  padding: 1em;
  display: inline-block;
  font-size: .5em;
  width: max-content;
  pointer-events: none;
}
.tooltip:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px 12px;
  border-color: transparent black transparent transparent;
  left: -20px;
  top: 25%;
}

.tooltip.appear {
  opacity: 1;
}
/* LEAFLET OVERRIDES */
.leaflet-container {
  display: block !important;
}
.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { 
  will-change:auto !important; 
}
.leaflet-bottom {
  z-index: 500 !important;
}
.leaflet-tile-container img {
    width: 256.5px !important;
    height: 256.5px !important;
}
/* END LEAFLET OVERIRDES */


/* CHECKMARK ANIMATION */
.checkmark-circle {
  width: 100%;
  -webkit-animation: stretch 0.3s 0.5s cubic-bezier(0.65, 0.25, 0.56, 0.96);
          animation: stretch 0.3s 0.5s cubic-bezier(0.65, 0.25, 0.56, 0.96);
  -webkit-transform: scale(1);
          transform: scale(1);
  color: white;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}
.checkmark-circle circle,
.checkmark-circle polyline {
  fill: none;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.checkmark-circle circle {
  stroke-dasharray: 94.25;
  stroke: currentcolor;
  stroke-width: 3.5px;
  -webkit-animation: dash-circle 0.4s cubic-bezier(0.65, 0.25, 0.56, 0.96) forwards;
          animation: dash-circle 0.4s cubic-bezier(0.65, 0.25, 0.56, 0.96) forwards;
}
.checkmark-circle polyline {
  stroke-width: 3.5px;
  stroke-dasharray: 22.771367900227325;
  -webkit-animation: dash-check 0.3s 0.5s cubic-bezier(0.65, 0.25, 0.56, 0.96) forwards;
          animation: dash-check 0.3s 0.5s cubic-bezier(0.65, 0.25, 0.56, 0.96) forwards;
  stroke: currentcolor;
}

@supports (display: grid) {
  .checkmark-circle circle {
    stroke-dashoffset: 94.25;
  }
  .checkmark-circle polyline {
    stroke-dashoffset: 22.771367900227325;
  }
}

@-webkit-keyframes dash-check {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-circle {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-circle {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes stretch {
  25% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  75% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes stretch {
  25% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  75% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* END CHECKMARK */


/* LOADING CIRCLES */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 200px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 1.5s infinite ease-in-out;
  animation: sk-bounce 1.5s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* END LOADING CIRCLES */


/* FOOTER */
footer > .contentWidth {
  border-top: 2px white double;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em auto 1em;
  width: 95%;
  padding: 1em;
}

.footerLinkSpread {
  margin-top: 1em; 
  display: flex;
  justify-content: space-between;
  width: inherit;
  text-decoration: underline;
}

.copyright {
  font-weight: bold;
}
/* END FOOTER */

@media screen and (min-width: 768px) {
	.xPosition {
		right: 1em;
		top: 1em;
		position: absolute;
	}
  .xPosition.stickyFloat {
    position: absolute;
    float: unset;
  }
  .xPosition.mobileClose{
    top: 1em;
  }
  .xPosition.stickyFloat.mobileClose {
    top: 1em;
    right: 1em;
  }
  .contentContainer {
    width: 100%;
    margin: 6em auto 0em;
    min-height: 80vh;
  }
  .contentContainer > h1 {
    font-size: 2.5em;
    text-align: center;
  }
  footer > .contentWidth {
    border-top: 2px white double;
    font-size: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    width: 90%;
  }

  .footerLinkSpread {
    margin-top: unset; 
     width: 50%;
  }
}

@media (min-width: 1000px) {
  .contentContainer {
    width: 60em;
  }
  footer > .contentWidth {
    width: 65%;
  } 
}