.tray {
    display: flex;
    position: absolute;
	bottom: 3.5vh;
	right: .5em;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 9998;
}

@media screen and (min-width: 768px) {
	.tray {
	    top: 4em;
	    bottom: unset;
	    left: -2px;
	    right: unset;
	}
}