/* MODAL & CONTENT */
.modalPanel {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 9998;
    background: black;
    left: 0;
    right: 0;
    margin: auto;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.modalContent {
    margin: 11em 1em 4em;
}

.headerGradientContainer{
    z-index: -1;
    width: 100%;
    height: 19em;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.headerImgPositioning {
    object-fit: cover;
    object-position: 50% 50%;
    height: 19em;
    width: 100%;
}
.blackTextMask{
    background: black;
    padding: .1em .5em;
    margin-left: -.5em;
}
h1.blackTextMask{
    margin-bottom: 0em;
    width: max-content;
}
.flexing {
    margin-top: 2.5em;
    flex-direction: column;
    align-items: center;
}

/* INNER TRAY STYLES */
.modalIcon {
    background-color: black;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.shareIcon {
    width: 2em;
    height: 2em;
    margin: 1em;
    position: relative;
    background: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    border: 2px white solid;
    cursor: pointer;
    padding: .3em;
}

.shareIcon.marginPoint5 {
    margin: .5em;
}

.innerShare {
    width: 70px;
    text-align: center;
}

.foldableShare {
    width: 50px;
    height: 50px;
    background-color: black;
    transition: width .75s;
    z-index: 999;
}

.foldableShare.open {
    width: 275px;
}
.shareModule {
    width: inherit;
}

.learnMoreButton {
    display: inline-block;
    border: 2px white solid;
    padding: .5em 1em;
    color: white;
    margin-bottom: 1em;
    text-transform: uppercase;
}

/* LIST VIEW */
.listContainer {
    position: absolute;
    z-index: 999;
    width: 100vw;
    background-color: black;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    right: -105vw;
    top: -82vh;
    -webkit-transition: left 600ms;
    transition: all 600ms;
    padding: 0em 2em 5em;
    overflow-y: auto;
    overflow-x: hidden;
}
.listContainer.open {
    right: -.5em;
}
.listContainer > ul{
    list-style-type: none;
}
.mainList {
    margin: 0;
    padding-left: 0;
}
.mainList > li {
    font-size: 130%;
    list-style-type: none;
    margin-bottom: .5em;
    border-bottom: 1px solid white;
    padding: 6px 0px;
}
.mainList > li:last-child {
    border-bottom: unset;
}
.blackBar {
    width: inherit;
    height: 3.5em;
    background-color: black;
    position: sticky;
    top: 0;
    left: -16px;
}
.listViewSearch {
    height: 60px;
    width: 100%;
    min-width: 100%;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border-bottom: 3px solid #333333;
    line-height: 1em;
    font-family: "Futura", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.4em;
}
/* END LIST VIEW */

/* CUSTOM CHECKBOXES */
.checkboxList > li{
    margin: 0 0 .5em -2em;
}
.styledCheckbox {
  position: absolute;
  opacity: 0;
}
.styledCheckbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styledCheckbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 3px solid yellow;
}
.styledCheckbox:hover + label:before {
/*  background: #f35429;
*/}
.styledCheckbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styledCheckbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styledCheckbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styledCheckbox:checked + label:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 11px;
    background: white;
    width: 3px;
    height: 3px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}
/* END CUSTOM CHECKBOXES */

.flexing {
    margin-top: unset;
    flex-direction: unset;
    align-items: unset;
    flex-wrap: wrap;
}

.hideLeft {
    display: none;
}
.hideRight {
    display: inline-block;
}

.poweredBy {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1.3em;
}

@media screen and (min-width: 768px) {
    .modalPanel {
        top: 0;
        bottom: 0;
        width: 60vw;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        left: 0;
        right: 0;
        margin: auto;
        overflow: auto;
    }
    .modalContent {
        margin: 11em 6em 3em;
        position: relative;
    }
    .poweredBy {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -2em;
    }
    h1.blackTextMask{
        font-size: 2.6em;
    }
    .learnMoreButton {
        font-size: 1.25em; 
    }
    .listContainer {
        width: 35em;
        background-color: black;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);        
        left: -35em;
        top: -8vh;
        transition: left 600ms;
        padding: 0em 69px 5em;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: white black;
    }
    .listContainer.open {
        left: 0vh;
    }

    .mainList {
        margin: 0;
        padding-left: 0;
    }

    .mainList > li {
        font-size: 130%;
        margin-bottom: .5em;
        border-bottom: 1px solid white;
        padding: 6px 0px;
    }
    .mainList > li:last-child {
        border-bottom: unset;
    }
    .blackBar {
        width: inherit;
        height: 3.5em;
        background-color: black;
        position: sticky;
        top: 0;
        left: -16px;
    }
    .flexing {
        margin-top: unset;
        flex-direction: unset;
        align-items: unset;
    }
    .hideLeft {
        display: inline-block;
    }
    .hideRight {
        display: none;
    }

}