.container {
	position: absolute;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	z-index: 9997;
	background: black;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	border: 8px double white;
	overflow-y: auto;
}

.content {
	padding: 0em 2em;
	margin-top: 4em;
	margin-bottom: 3em;
}

.content > h1 {
	font-size: 2.5em;
	margin-bottom: .2em;
}

/* DELETE? */
.headerTransparency {
	z-index: -1;
	position: relative;
	height: calc(var(--vh, 1vh) * 19);
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(97,193,229,1) 100%);
}

.pinLine {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.pinLine > p {
	margin-left: 2.5px;
	margin-top: 0;
	margin-bottom: 0;
}

.socialContainer {
	display: flex;
	align-items: center;
	margin-top: 1em;
}
.socialContainer > div {
	margin-right: .75em;
}

.buttonsContainer {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}

.buttonStyle {
	width: fit-content;
	border: 2px solid white;
	font-weight: bolder;
	text-transform: uppercase;
	max-width: 100%;
	margin-top: 1em;
	text-align: center;
}

.buttonStyle.shareBlock {
	display: inline-block;
	padding: .5em 2em;
	height: 2.75em;
	width: 14em;
	transition: all 300ms;
	overflow: hidden;
}

.shareBlock.open {
	width: 16em;
	height: 6em;
}

.buttonStyle > a {
	display: inline-block;
	padding: .5em 2em;
}

.toggleContainer {
	position: fixed;
	bottom: 1em;
	bottom: calc(var(--vh, 1vh) * 2);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 92%;
}
.toggleSizing {
	font-size: 2.5em;
}

.rotate180 {
	transform: rotate(180deg);
}

.shareIcon {
    width: 2.5em;
    height: 2.5em;
    margin: .6em 1em 0em;
    position: relative;
    background: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    border: 2px white solid;
    cursor: pointer;
    padding: .3em;
}

.runByHeart {
	position: absolute;
	top: 1em;
	left: 2em;
	display: flex;
	align-items: flex-start;
}

.heartIcon {
	font-size: 1.5em;
}

.heartTooltip {
	opacity: 0;
	transition: opacity 600ms;
	margin-left: 1em;
	width: 80%;
	display: inline-block;
}
.heartTooltip.vis {
	opacity: 1;
}


@media (min-width: 768px) {
	.container {
		width: 35em;
		height: auto;
		height: 87vh;
		height: calc(var(--vh, 1vh) * 87);
		top: 9vh;
		right: 1em;
		left: unset;
	}

	.content {
		margin-bottom: 2em;	
	}
	.toggleContainer {
		position: absolute;
	}
}